{	CFBundleDevelopmentRegion     = "English";
	CFBundleExecutable            = "${EXECUTABLE_NAME}";
	CFBundleIdentifier            = "com.nanoant.${PRODUCT_NAME:identifier}";
	CFBundleInfoDictionaryVersion = "6.0";
	CFBundleName                  = "${PRODUCT_NAME}";
	CFBundlePackageType           = "BNDL";
	CFBundleShortVersionString    = "1.2";
	CFBundleVersion               = "1.2";
	NSPrincipalClass              = "XcodeMate";
	"XC4Compatible"               = "YES";
	XCGCReady                     = "YES";
	XCPluginHasUI                 = "NO";
	DVTPlugInCompatibilityUUIDs   = ( "63FC1C47-140D-42B0-BB4D-A10B2D225574",
	                                  "37B30044-3B14-46BA-ABAA-F01000C27B63" );
}
