{	CFBundleDevelopmentRegion     = "English";
	CFBundleExecutable            = "${EXECUTABLE_NAME}";
	CFBundleIdentifier            = "com.nanoant.${PRODUCT_NAME:identifier}";
	CFBundleInfoDictionaryVersion = "6.0";
	CFBundleName                  = "${PRODUCT_NAME}";
	CFBundlePackageType           = "BNDL";
	CFBundleShortVersionString    = "1.2";
	CFBundleVersion               = "1.2";
	NSPrincipalClass              = "XcodeMate";
	"XC4Compatible"               = "YES";
	XCGCReady                     = "YES";
	XCPluginHasUI                 = "NO";
}
