{	CFBundleDevelopmentRegion     = "English";
	CFBundleExecutable            = "${EXECUTABLE_NAME}";
	CFBundleIdentifier            = "com.nanoant.${PRODUCT_NAME:identifier}";
	CFBundleInfoDictionaryVersion = "6.0";
	CFBundleName                  = "${PRODUCT_NAME}";
	CFBundlePackageType           = "BNDL";
	CFBundleShortVersionString    = "1.3";
	CFBundleVersion               = "1.3";
	NSPrincipalClass              = "AMSXcodeTMXtras";
	"XC4Compatible"               = "YES";
	XCGCReady                     = "YES";
	XCPluginHasUI                 = "NO";
	DVTPlugInCompatibilityUUIDs   = ( "63FC1C47-140D-42B0-BB4D-A10B2D225574",
	                                  "37B30044-3B14-46BA-ABAA-F01000C27B63",
	                                  "640F884E-CE55-4B40-87C0-8869546CAB7A",
	                                  "A2E4D43F-41F4-4FB9-BB94-7177011C9AED" );
}
